<h1>Bem-vindo ao {{ nomeProjeto }}!</h1>

<p>Esta é a página inicial da aplicação</p>

@if (acoes.length === 0) {

<p>Você ainda não realizou nenhuma ação sustentável.</p>

} @else {

<p>Parabéns! Você já começou a contribuir!</p>
<p>Numero de Ações realizadas: {{ acoes.length }} </p>

}

<br>

<div class="form-acao">
  <label> Digite uma Ação:</label>
  <label>
    <input type="text" [(ngModel)]="nomeAcao" placeholder="Nome da Ação" >
  </label>

  <button (click)="realizarAcao()"> Registrar Ação</button>

  <label for="categoria">Categoria:</label>

  <select id="categoria" [(ngModel)]="categoriaSelecionado">

    @for (categoria of categorias; track $index) {

    <option [ngValue]="categoria">{{ categoria }}</option>
    }
  </select>

  <label for="icone">Icone:</label>

  <select id="icone" [(ngModel)]="iconeSelecionado">

    @for (icone of icones; track $index) {

    <option [ngValue]="icone">{{ icone }}</option>
    }
  </select>
</div>


<h2>Ações Realizadas:</h2>

<hr>

<button (click)="filtrarPorCategoria(null)">Todas</button>
<button (click)="filtrarPorCategoria(Categoria.AGUA)">Água</button>
<button (click)="filtrarPorCategoria(Categoria.ENERGIA)">Energia</button>
<button (click)="filtrarPorCategoria(Categoria.NATUREZA)">Natureza</button>
<button (click)="filtrarPorCategoria(Categoria.RECICLAGEM)">Reciclagem</button>
<button (click)="filtrarPorCategoria(Categoria.TRANSPORTE)">Transporte</button>

<ul>

  @for (acao of acoesFiltradas; track $index) {

  <li>
    <div class="acao-card">
    <p>{{ acao.icone }} {{ acao.nome }}</p>
    <p>Concluída: {{ acao.quantidade }}</p>
    <p>Categoria: {{ acao.categoria }}</p>

      <div class="acoes-botoes">
        <button (click)="decrementarAcao(acao)" [disabled]="acao.quantidade === 0">-</button>
        <button (click)="incrementarAcao(acao)">+</button>
        <button (click)="removerAcao(acao.id)">Remover</button>
      </div>
    </div>
  </li>
  }

</ul>
